body {
  background-image: url(
"images/backgroundgif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: xx-large;
  font-weight: 600px;

}

h1 {
  color: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.card {
  top: 50%;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  margin: 100px;
  text-align: center;
}



button {
  
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.button-box-special {
  background: #383b3a;
}

button:focus {
  outline: none;
}

/* Button Styles */


.seven {
  background: darkblue;
  color: white;
  border-radius: 5px;
  transition: all 300ms;
}

.seven:hover {
  transform: scale(1.1);
  letter-spacing: 2px;
  background: white;
  color: darkblue;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.57);
}


